/*
 *{
    /* border:1px solid blue; 
} */

/* body{
    margin: 0px;

}

ul{
    list-style-type:none ;
    margin: 0px;
    padding: 0px;
    width:30%;
}

ul,li{
    margin: 5px;
    text-align: center;
    
}
ul li a{
    text-decoration: none;
    display:block;
    padding: 5px;
    background-color: rgb(45,119,10);
    color:white;
    border-radius: 2px;
}
a:hover:not(active) {
    background-color:rgb(117,44,44) ;

}

.active{
    background-color: rgb(98,54,219);
} */
/* *{
    border: 1px solid blue;
} */
body{
    margin: 0px;

}

ul{
    list-style-type:none ;
    margin: 0px;
    padding: 0px;
    background-color: rgb(45,119,10);
    overflow: hidden;
}
ul li{
    text-align:center;
}
ul li:last-of-type{
    float: right;
}

ul li a{
    display:block;
    padding: 10px;
    color:white;
}
a{
    text-decoration: none;
    float:left;
}